[submodule "components/renard-phy-s2lp-container/renard-phy-s2lp"]
	path = components/renard-phy-s2lp-container/renard-phy-s2lp
	url = https://github.com/Jeija/renard-phy-s2lp
[submodule "components/renard-phy-s2lp-hal-esp32"]
	path = components/renard-phy-s2lp-hal-esp32
	url = https://github.com/Jeija/renard-phy-s2lp-hal-esp32
